@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --font-size: 1.8rem;  
  } 

body {
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

header {
    margin: 50px auto;
}

div {
    border: 1px black solid;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: white;
}

#calc-body {
    max-width: 250px;
    min-height: 350px;
    margin: 25px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px black solid;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 0.4rem;
    box-shadow: 4px 6px 15px gray;
}

#screen {
    grid-column: 1 / 5;
    min-height: 70px;
    text-align: right;
    padding-right: 10px;
    font-size: var(--font-size);
    overflow: hidden;
    box-shadow: -1px -3px 1px black;

}

.calc-button {
    box-shadow: 1px 3px 1px gray;
}
